/* video icon */
.video-icon:before {
  width: 40px;
  height: 40px;
  content: '';
  position: absolute;
  background-color: rgba(0,0,0,0.3);
  background-image: url('../assets/icons/icon-play-white.svg');
  background-position: center;
  background-size: 32% auto;
  background-repeat: no-repeat;
  z-index: 10;
  padding: 1em;
  left: 45%;
  top: 40%;
  border-radius: 50%;
}

/* article content */
img, video {
  border-radius: 0.2778rem;
  width: 100%;
}

body {
  padding: 0 1rem;
  color: white;
}

body div div {
  padding-bottom: 1rem;
  color: white;
}

body hr {
  margin: 0 0 1rem;
}

body p {
  padding: 0 0 1rem;
  font-size: 1rem;
  color: white;
  line-height: 1.75rem;
  font-weight: normal;
  margin: 0;
}

body p:empty,
body h3:empty {
  display: none;
}

body p:last-child {
  padding: 0;
}


body p a {
  color: #ff1339;
  text-decoration: none;
  border-bottom: 0.5px solid #ff1339;
}

body h2,
body h4 {
  /* padding: 0 1rem 1rem; */
  font-size: 1rem;
  color: #9e9e9e;
  line-height: 1.75rem;
  font-weight: 400;
}

body h3 {
  padding: 0 0 1rem;
  font-size: 1.0556rem;
  color:#ff1339;
  line-height: 1.75rem;
  font-weight: 500;
  margin: 0;
}

body ul,
body ol {
  padding: 0 0 1rem;
  color: white;
  font-size: inherit;
  list-style: inside;
}

body ol li,
body ul li {
  padding-bottom: 0.2778rem;
  line-height: 1.2222rem;
}

body ol li a,
body ul li a {
  color: #ff1339;
}
/* block quote */
body blockquote::before {
  content: ' ';
  width: 14%;
  margin: 0 auto 15px;
  height: 5px;
  background-color: #a50034;
  display: block;
  /* border-radius: 5px; */
}

body blockquote::after {
  content: ' ';
  width: 14%;
  margin: 15px auto 15px;
  height: 5px;
  background-color: #a50034;
  display: block;
  /* border-radius: 5px; */
}

body blockquote  {
  text-align: center;
}


body blockquote p {
  font-weight: 500;
}
/* article content highlight */
/* body .ZBO_Intro::before {
  content: ' ';
  width: 14%;
  margin: 0 auto 15px;
  height: 5px;
  background-color: #a50034;
  display: block;
  border-radius: 5px;
}

body .ZBO_Intro::after {
  content: ' ';
  width: 14%;
  margin: 15px auto 0;
  height: 5px;
  background-color: #a50034;
  display: block;
  border-radius: 5px;
}


body .ZBO_Intro {
  font-size: 1.0556rem;
  color: #464646;
} */


/* related article */
body .inline-recommend {
  position: relative;
  background: #464646;
  /* margin-top: 1rem; */
  margin-bottom: 1rem;
  padding: 0 0.5rem 0.5rem 0.75rem;
  border-radius: 0.5rem;
}

body .inline-recommend .related-article-left-border {
  display: block;
  position: absolute;
  background: #a50034;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  left: 0;
  height: 100%;
  width: 7px;
}

body .inline-recommend h4 {
  font-size: 0.8999rem;
  padding-top: 10px;
  padding-bottom: 0;
  color: #ff1339;
}

body .inline-recommend .post-list {
  list-style: none;
  padding: 0;
}

body .inline-recommend .post-list .post-item {
  color: #464646;
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: normal;
  padding-top: 15px;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eaeaea;
}

body .inline-recommend .post-list .post-item .post-detail {
  margin-bottom: 0;
}

body .inline-recommend .post-list li {
  color: white;
  border-bottom: 1px solid #585858;
}

body .inline-recommend .post-list li:last-child {
  border-bottom: none;
}

body .inline-recommend .post-list li a {
  color: white;
  overflow: hidden;
  /* margin: 0; */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/*tables */
body table {
  width: 100%;
  padding: 0 1rem 1rem;
  font-size: 1rem;
  color: white;
  text-align: center;
}

body td, th {
  border: 1px solid #9E9E9E;
  padding: 0.25rem;
  font-size: 0.8889rem;
  /* background: #F5F5F5; */
}

body table caption {
  font-weight: 500;
  padding-bottom: 0.5rem;
  color: #FF1339;
}

body .view-mobile {
  display: none;
}

body .view-desktop {
  display: block
}

/* article content figure */
body figure {
  margin: 0 0 1rem;
  position: relative;
  overflow: hidden;
}

body figure figcaption {
  text-align: center;
  padding: 0.3rem 0;
  font-size: 0.875rem;
  /* line-height: 1.25rem; */
  color: #9e9e9e;
  width: 100%;
}

body figure img {
  margin: 0 auto;
  width: 100%;
}

/* logo modification */
body .image-placeholder.footer-placeholder {
  width: 100%;
}

body .image-placeholder.footer-placeholder.left {
  display: flex;
  justify-content: start;
}

body .image-placeholder.footer-placeholder.right {
  display: flex;
  justify-content: end;
}

body .image-placeholder.footer-placeholder.center {
  display: flex;
  justify-content: center;
}

body .image-placeholder.footer-placeholder img {
  margin: 0 0 1rem 0;
  width: 40%;
}

/* article content iframe */
iframe {
  max-width: 100% !important;
}

.fluid-iframe {
  padding-top: 56.25%;
  max-width: 100%;
  position: relative;
}

.fluid-iframe iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.2778rem;
}

/* tiktok and all 9-16 video*/
.iframe-9-16 {
  padding-top: 100%;
  max-width: 90%;
  min-height: 110vw;
  position: relative;
  margin: 0 auto 1rem;
}

.iframe-9-16 iframe {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.2778rem;
}

/* facebook  */
/* facebook post */
.oembed-rich .oembed-content {
  /* margin-top: 1rem; */
}

.oembed-rich .oembed-content iframe {
  /* margin-top: 1rem; */
  overflow: visible;
}

.oembed-rich .oembed-content .fb_iframe_widget_fluid {
  display: block !important;
}

.oembed-rich .oembed-content .fb_iframe_widget_fluid span {
  width: 100% !important;
  /* height: auto !important; */
}

/* facebook video */
.oembed-video .oembed-content {
  margin-top: 1rem;
  position: relative;
  padding-bottom: 56.25%;
}

.oembed-video .oembed-content .fb_iframe_widget_fluid span {
  width: 100% !important;
  height: auto !important;
}

.oembed-video .oembed-title {
  color: white;
}

.oembed-video .oembed-content iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.2778rem;
}
/* tiktok */
body .tiktok-container {
  position: relative;
  padding-top: 205%;
  width: 100%;
}

body .tiktok-container .tiktok-iframe {
  top: 0;
  min-width: 100% !important;
  height: 100%;
  position: absolute;
  border: 0;
}


/* podcast */
.view-mobile {
  display: none;
}

/* .view-desktop {
  padding: 0 1rem 1rem;
} */


/* paywall */
.article-transaction:before {
  content: "";
  position: absolute;
  left: 0;
  /* background: black; */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 47, 47, 0)), to(rgba(47, 47, 47, 1)));
  background: -o-linear-gradient(top, rgba(47, 47, 47, 0) 0%, #2F2F2F 100%);
  background: linear-gradient(to bottom, rgba(47, 47, 47, 0) 0%, #2F2F2F 100%);
  width: 100%;
  height: 240px;
  margin-top: -240px;
  pointer-events: none;
}

.overlay {
  -webkit-transition: visibility 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: visibility 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: visibility 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
}

.overlay-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* lazy component ad */
.ad-style {
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: 1rem;
  border-top: 5px solid #464646;
  border-bottom: 5px solid #464646;
  background-color: #2f2f2f;
}

/* display add to hid ad component before the google ad comes in ios side will detect the ad and then style is switch to display block */

/* responsive */
@media only screen and (min-width: 413px) {
  /* tiktok and all 9-16 video*/
  .iframe-9-16 {
    padding-top: 100%;
    max-width: 66%;
    height: 110vw;
    position: relative;
    margin: 0 auto 1rem;
  }
}

@media only screen and (min-width: 768px) {
  #article-detail-container {
    width: 100%;
  }

  #caption {
    width: 700px;
    margin: 0 auto;
  }

  .headline-margin {
    margin: 0 auto;
    width: 700px;
  }

  .byline-margin {
    margin: 0 auto;
    width: 700px;
  }

  body {
    padding: 0;
    margin: 0 auto;
    max-width: 700px;
  }

  .article-transaction .cta-subscribe .cta-header {
    width: 700px;
    margin: 0 auto;
  }
  /* tiktok and all 9-16 video*/
  .iframe-9-16 {
    padding-top: 100%;
    max-width: 48.5%;
    height: 110vw;
    position: relative;
    margin: 0 auto 1rem;
  }

  body figure figcaption {
    width: 700px;
  }

  .ad-style {
    margin: 0 -350px 1rem;
    border-top: 5px solid #464646;
    border-bottom: 5px solid #464646;
    background-color: #2f2f2f;
  }
}

@media (min-width: 1024px) {
  #article-detail-container {
    width: 100%;
  }
  /* tiktok and all 9-16 video*/
  .iframe-9-16 {
    padding-top: 100%;
    max-width: 48.5%;
    height: 110vw;
    position: relative;
    margin: 0 auto 1rem;
  }
}

@media only screen and (max-device-aspect-ratio:  9/16) {
  .iframe-9-16 {
    padding-top: 100%;
    max-width: 90%;
    height: 110vw;
    position: relative;
    margin: 0 auto 1rem;
  }
}

@media only screen and (max-device-aspect-ratio:  9/10) {
  .iframe-9-16 {
    padding-top: 100%;
    max-width: 87%;
    height: 110vw;
    position: relative;
    margin: 0 auto 1rem;
  }
}

@media only screen and (max-device-aspect-ratio:  10/9) {
  .iframe-9-16 {
    padding-top: 100%;
    max-width: 87%;
    height: 110vw;
    position: relative;
    margin: 0 auto 1rem;
  }
}

@media only screen and (max-device-aspect-ratio:  16/9) {
  .iframe-9-16 {
    padding-top: 100%;
    max-width: 83%;
    height: 110vw;
    position: relative;
    margin: 0 auto 1rem;
  }
}

/* for android landscape */
@media only screen and (min-device-aspect-ratio:  10/9)  {
  .iframe-9-16 {
    padding-top: 50%;
    max-width: 30%;
    min-height: unset;
    height: 30vw;
    position: relative;
    margin: 0 auto 1rem;
  }
}

/* for android landscape */
@media only screen and (min-device-aspect-ratio:  16/9) {
  .iframe-9-16 {
    padding-top: 50%;
    max-width: 30%;
    min-height: unset;
    height: 30vw;
    position: relative;
    margin: 0 auto 1rem;
  }
}
